/*Used for styles that are applied to both mobile and desktop */

/*Variable setup*/
:root{
    --primary-color: black;
    --secondary-color: white;
    --accent-color: rgb(16, 91, 16);
    --inactive-color: grey;
    --border-color: rgb(98, 175, 107);
    --error-color: red;
    --success-color: green;
    --link-color: blue;
    --shadow-color: rgba(0,0,0,0.5);
}

/*store styling --> Telisa DP --> START*/

.productCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0 0 40px var(--shadow-color);
    border-radius: 5px;
    padding: 2rem;
    max-width: 20%;
    transition: background 0.2s, border-color 0.2s;
    margin-bottom: 2rem;
    background-color: var(--secondary-color);
}

.productCard:hover{
    transform: scale(1.05);
    cursor: pointer;
 
}

.productGallery{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: 2rem;
    background-color: var(--shadow-color);
}



.normalButton{
   
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: var(--accent-color);
}

.normalButton:hover{
    background-color: var(--border-color);
}

.normalButton:active{
    transform: scale(0.98);
}

/*store styling --> Telisa DP --> END*/

/*contact form styling --> Telisa DP --> START*/
.contactContainer{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    background-size: cover;
 
    
}

.contactFormElement{
    width: 70%;
    max-width: 70%;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px var(--shadow-color);
    background: whitesmoke;
    color: black;
    border-radius: 5px;
}

.mandatoryField{
    color: var(--error-color);
}
/*contact form styling --> Telisa DP --> END*/

/*Login and signup form styling --> Telisa DP --> START*/
.loginContainer{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    background-size: cover;
    background-color: black;
    
}

.loginFormElement{
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 40px var(--shadow-color);
    background: whitesmoke;
    color: black;
}

.formInputGroup{
margin-bottom: 1rem;

}

.form > *:last-child{
    margin-top: 0;
}
.form > *:first-child{
    margin-top: 0;
}

.formInput{
display: block;
width: 100%;
padding: 0.75rem;
box-sizing: border-box;
border-radius: 5px;
border: 1px solid var(--border-color);;
outline: none;
background: rgb(199, 199, 199);
transition: background 0.2s, border-color 0.2s;
}

.formInput:focus{
   background: white;
}
.formMessage{

text-align: center;
margin-bottom: 1rem;

}
.formMessage--success {
    color: var(--success-color);
}
.formMessage--error{
    color: var(--error-color)
}

.formInput--error{
color: var(--error-color);
border-color: var(--error-color);
}


.formButton{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: var(--accent-color);
}

.formButton:hover{
    background-color: var(--border-color);
}

.formButton:active{
    transform: scale(0.98);
}
.formTitle{
    text-align: center;
    color: var(--primary-color);
}
.formText{
    text-align: center;
}
.formLink{
    text-decoration: none;
    cursor: pointer;
    color:var(--link-color);;
}

.formLink:hover{
    text-decoration: underline;
    cursor: pointer;
}

.form--hidden{
    display:none;
}
/*Login and signup form styling --> Telisa DP --> END*/