/*Used for  desktop device layout */

/*Variable setup*/
:root{
    --primary-color: black;
    --secondary-color: white;
    --accent-color: rgb(16, 91, 16);
    --inactive-color: grey;
    --border-color: rgb(98, 175, 107);
    --error-color: red;
    --success-color: green;
    --link-color: blue;
    --shadow-color: rgba(0,0,0,0.5);
}
/*contact form styling --> Telisa DP --> START*/
.contactContainer{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    background-size: cover; 
    
}

.contactFormElement{
    width: 70%;
    max-width: 70%;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px var(--shadow-color);
    background: whitesmoke;
    color: black;
    border-radius: 5px;
}

.mandatoryField{
    color: var(--error-color);
}
/*contact form styling --> Telisa DP --> END*/

/*Login and signup form styling --> Telisa DP --> START*/
.loginContainer{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    background-size: cover;
    background-color: black;
    
}

.loginFormElement{
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 40px var(--shadow-color);
    background: whitesmoke;
    color: black;
}

.formInputGroup{
margin-bottom: 1rem;

}

.form > *:last-child{
    margin-top: 0;
}
.form > *:first-child{
    margin-top: 0;
}

.formInput{
display: block;
width: 100%;
padding: 0.75rem;
box-sizing: border-box;
border-radius: 5px;
border: 1px solid var(--border-color);;
outline: none;
background: rgb(199, 199, 199);
transition: background 0.2s, border-color 0.2s;
}

.formInput:focus{
   background: white;
}
.formMessage{

text-align: center;
margin-bottom: 1rem;

}
.formMessage--success {
    color: var(--success-color);
}
.formMessage--error{
    color: var(--error-color)
}

.formInput--error{
color: var(--error-color);
border-color: var(--error-color);
}


.formButton{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    border: none;
    border-radius: var(--border-color);
    outline: none;
    cursor: pointer;
    background: var(--accent-color);
}

.formButton:hover{
    background-color: var(--border-color);
}

.formButton:active{
    transform: scale(0.98);
}
.formTitle{
    text-align: center;
    color: var(--primary-color);
}
.formText{
    text-align: center;
}
.formLink{
    text-decoration: none;
    cursor: pointer;
    color:var(--link-color);;
}

.formLink:hover{
    text-decoration: underline;
    cursor: pointer;
}

.form--hidden{
    display:none;
}
/*Login and signup form styling --> Telisa DP --> END*/

/* locations styling START*/
.bgimg {
    background-image: url("https://as1.ftcdn.net/v2/jpg/00/85/98/08/1000_F_85980822_VWs5yqRr1TOwfm5gk9qPQBgB191DcUFy.jpg");
     height: 100%;
     width: 100%;
     background-repeat: no-repeat, no-repeat;
      background-position: center, center;
    position:relative;
    background-size: contain;
  }
  .container {
      height: 500px;
      width: 500px;
  }
  .point{
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
  }
  .point-container{
     position: absolute;
  }
  .point-container.first{
    top: 50%;
    left: 58%;
  }
  .point-container.second{
    top: 55%;
    left: 65%;
  }
  .point-container.third{
    top: 60%;
    left: 72%;
  }
  .point-container.fourth{
    top: 68%;
    left: 58%;
  }
  .point-container.fifth{
    top: 70%;
    left: 73%;
  }
  .first-div,
  .second-div,
  .third-div,
  .fourth-div,
  .fifth-div {
    display: none;
  }
  .point.first:hover + .first-div,  
  .point.second:hover + .second-div,  
  .point.third:hover + .third-div,  
  .point.fourth:hover + .fourth-div,  
  .point.fifth:hover + .fifth-div{
      display: block;
  }
  .hover {
    background-color:gray;
    z-index:99;
    position:absolute;
    width: 150px;
  }
  .hover > span {
    display:block;
  }
  .hover > span:first-child{
    margin-bottom: 5px;
  }
  .hover > span:last-child{
    margin-bottom:15px;
  }
/* locations styling END*/



/*banner styling --> Emily F --> START*/

/*banner styling --> Emily F --> END*/

h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gallery-item{
    text-align: center;
}

#goals{
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}

#whoWeAre{
    background-color: #68E46A;
    line-height: 150%;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

a{
    color: black;
}

#right_navbar{
    float: right;
}

#navbar{
    float: center;  
}

a{
    padding: 10px;
}

#navbar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #68E46A;
    padding: 15px;
}

form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

label, option, input, textarea{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #68E46A;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: rgb(74, 168, 80);
  }

input[type=text], input[type=number], input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */

  }